html {
  background: white;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


h3 {
    font-size: 3.4em;
    font-weight: bold;
    max-width: 20em;
    margin-block-start: 20px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-text: center;

}

body {
  color: #252222;
  align-text: center;

}

p {
  font-size: 1.8em;
  max-width: auto;
  align-text: center;

}
/*Nav bar*/
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  padding-right: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  font-size: 0.8em;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #1F8A70;
}



/*Social icons*/
.icon-bar {
  position: fixed;
  top: 50%;
  color: #000000;
  font-size: 23px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 20px;
  transition: all .5s ease;
  color: #000000;
  font-size: 23px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #ddff92;
}

.buffer{
  padding:50px;
}

/*Illustration*/
svg {
  position: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.leaf {
  stroke-dasharray: -650;
  stroke-dashoffset: 650;
  animation: draw-leaf 1s infinite;
  transform-origin: 50% 50%;

}

@keyframes draw-leaf {
  from{
   stroke-dashoffset: 650;
   transform: rotate(360deg);
  }
  to{
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
}

.leaf2 {
  stroke-dasharray: -650;
  stroke-dashoffset: 650;
  animation: draw-leaf2 3s infinite;
  transform-origin: 50% 50%;

}

@keyframes draw-leaf2 {
  from{
   stroke-dashoffset: 650;
   transform: rotate(360deg);
  }
  to{
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
}

/*SVG container*/
.column {
  float: left;
  text-align: center;
}

.left, .right {
  width: 30%;
}

.middle {
  width: 40%;
  align-content: stretch;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Title highlight text container*/
.colc {
  float: left;
  text-align: center;
}

.leftc, .rightc {
  width: 30%;
  text-align: center;
  max-height: 2px;
}

.middlec {
  width: 40%;
  align-content: space-around;
  text-align: center;
}

/* Clear floats after the columns */
.rowc:after {
  content: "";
  display: table;
  clear: both;
}

/*Arrow container*/
.coc {
  float: left;
  text-align: center;
}

.lc, .rc {
  width: 14.28%;
}

.mc {
  width: 14.28%;
  align-content: center;
}

/* Clear floats after the columns */
.roc:after {
  content: "";
  display: table;
  clear: both;
}


/*Title highlight text*/
:root {
  --del-color: #ff92bf;
  --ins-color: #ddff92;
}

del {
  --color: var(--del-color, red);
  text-decoration: none;
  padding: 0 .5em;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to left, rgba(255, 255, 255, .5), transparent),
    linear-gradient(2deg, var(--color) 50%, transparent 50%),
    linear-gradient(-.9deg, var(--color) 50%, transparent 50%),
    linear-gradient(-60deg, var(--color) 50%, transparent 50%),
    linear-gradient(120deg, var(--color) 50%, transparent 50%);

  background-size:
    30% 1.5px,
    calc(100% - 20px) 10px,
    calc(100% - 20px) 10px,
    10px 10px,
    8px 8px;

  background-position:
    100% calc(50% + 2px),
    center center,
    center center,
    2px 50%,
    calc(100% - 3px) calc(50% + 1px);
}

/* don't have much ideas for <ins> */
ins {
  background: var(--ins-color, green);
  text-decoration: none;
}



/* Arrow*/
.arrow {
	display: flex;
	height: auto;
  justify-content: center;
}

.arrow-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.arrow-circle-down {
	display: block;
	width: 40px;
	height: 40px;
	margin: 16px 0;
	/*fill: #fff;*/
}

.bounce {
	-webkit-animation: bounce 2s;
	        animation: bounce 2s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}


/*Card*/
/* .flex-container {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
}



*, *:before, *:after {
  box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.subtle {
  color: #aaa;
}

.card-container{
  margin: 25px auto 0;
  position: relative;
  width: auto;
}


.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}

.card-body {
  display: inline-block;
  float: left;
  width: auto;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  margin: 10px 0;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 14px;
  margin: 10px 0;
  font-size:14px;
}


.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
  float: right;
  position: relative;
}

.card-shadow {
  background-color: #fff;
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
} */
/* More accurate sizing */
.avtl, div.ewrap, div.event {
  box-sizing: border-box;
}
.avtl {
  position: relative;
  /* Width restriction if you want */
  max-width: 700px;
  margin: 100px auto;
}

/* This will draw the vertical line */
.avtl::before {
  content: '';
  width: 3px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

/* [EVENT WRAPPER] */
div.ewrap {
  padding: 10px 40px ;
  position: relative;
  width: 50%;
  left: 0; /* default to left */
}
div.right {
  left: 50%;
}

/* [EVENT ITSELF] */
div.event {
  padding: 15px 25px;
  background-color: #ddff92;
  position: relative;
  border-radius: 6px;
}

/* [THE DATE & TEST] */

p.text {
  margin: 0;
  font-size: 16px;
  margin-bottom: 10px;
}

p.year {
  font-size: 20px;
  font-family: 'Alegreya'
  font-weight:lighter;
  display: block;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



/* [ADD SPEECH BUBBLE TRIANGLE] */
div.ewrap::before {
  content: '';
  border: 10px solid transparent;
  border-left-color: #ddff92;
  border-right: 0;
  position: absolute;
  right: 30px;
  top: 20%;
}
div.ewrap.right::before {
  content: '';
  border: 10px solid transparent;
  border-right-color: #ddff92;
  border-left: 0;
  position: absolute;
  right: auto;
  left: 30px;
  top: 20%;
}

/* [ADD CIRCLE ON VERTICAL LINE] */
div.ewrap::after {
  content: '';
  background: #fff;
  border: 3px solid black;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  position: absolute;
  top: 20%;
  right: -14px;
}
div.ewrap.right::after {
  content: '';
  background: #fff;
  border: 3px solid black;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  position: absolute;
  top: 20%;
  right: auto;
  left: -10px;
}

/*Skill container*/
#intro{
  height: 300px;
}
.col {
  float: left;
  text-align: center;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.ro:after {
  content: "";
  display: table;
  clear: both;
}

/*Skill*/
.skillbar {
  position: relative;
  color: #000000;
  align-items: flex-start;
  font-size: 60px;
  padding-bottom: 20%;
}
